.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
img {
    box-shadow:  rgb(211, 211, 211,.30)  0px 0px 0px 6px;    
    margin-bottom: 2vh;
}

a {
    border-bottom: 3px solid rgb(36, 160, 237, .15);
  }
  
a:hover {
    border-bottom-color: rgb(36, 160, 237,.30);
}
.user-gh-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.user-bio-container {
    flex-grow: 5;
    padding: 50px;
}

.user-gh-container .user-bio-container{
    display: flex;
    flex-direction: column;
}

a {
    color: black;
}

.gh-link-container {
    margin-top: 10vh;
}